#root {
    height: 100%;
    width: 100%;
}

#ASTHistory {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#ASTArea,
#Error,
#ASTHistory {
    width: 96%;
    padding-left: 2%;
    margin: 0px;
    overflow-x: auto;
}

ul#RCArea {
    width: 98%;
    padding: 0px;
    padding-left: 1%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

button.rc {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 0px;
    transition: border-color 0.25s;
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    min-height: 50px;
}

button.rc > div  {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    text-align: center;
    padding: 0px;
    margin: 0px;
    vertical-align: center;
    position: relative;
    text-align: center;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

button.rc > div > * {
    margin: 0;
    white-space: normal;
    padding: 0;
}

button.rc > div#rarrow > * {
    font-size: 2em;
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
