#root {
    height: 100%;
    width: 100%;
}

#ASTHistory {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ASTArea,
#Error,
#ASTHistory {
    width: 96%;
    padding-left: 2%;
    margin: 0;
    overflow-x: auto;
}

#ASTArea h4 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

ul#RCArea {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

button.rc {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    min-height: 50px;
}

button.rc > div  {
    width: calc(100% - 20px);
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: center;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.rc > div > * {
    margin: 0;
    white-space: normal;
    padding: 0;
}

button.rc > div#rarrow > * {
    font-size: 2em;
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.expr_history .new {
    background-color: #2600ff7e;
    color: white;
}

.expr_history .old {
    background-color: #ff00004f;
    color: white;
}