@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

div#definition {
    position: absolute;
    background-color: #303030;
    width: calc(80% - 20px);
    z-index: 9999;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.29);
    padding: 10px;
    margin: 20px 10%;
}

div#definition > button {
    float: right;
}

div.md {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 10pt;
}

button#definitionspawn {
    position: absolute;
    top: 5px;
    z-index: 9999;
}