@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#themeContainer {
  width: 100%;
  height: 100%;
}

#themeContainer.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#themeContainer.light {
  color: rgba(0, 0, 0, 0.87);
  background-color: #d0d0d0;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 10pt;
  margin-bottom: 20px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 12pt;
  }
}