#inputContainer {
    background-color: #242424;
    position: sticky;
    height: 50%;
    margin: 0px;
    display: grid;
    grid-template-columns: 90% 1fr;
    display: grid;
    grid-template-columns: 90% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: calc(99% - 20px);
    margin: 5px auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ProgramInput {
    position: relative;
    /* Whole column 1*/
    grid-area: 1 / 1 / 3 / 2;     
    width: 99%;
    height: 100%;
    margin: 5px auto;
    overflow-x: auto;
    min-height: 300px;
}

button.runbutton {
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    width: 100%;
    height: 98%;
    padding: 10px;
}

button#RunButtonSingle {
    /* second row, second column */
    grid-area: 1 / 2 / 2 / 3;
}

button#RunButtonMultiple {
    /* second row, second column */
    grid-area: 2 / 2 / 3 / 3;
}
 
@media only screen and (max-width: 1000px) {
    #inputContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 50px;
        grid-column-gap: 0px;
        grid-row-gap: 5px;
        overflow-x: hidden;
    }

    #ProgramInput {
        grid-area: 1 / 1 / 2 / 2;
    }

    button#RunButton {
        height: 98%;
        grid-area: 2 / 1 / 3 / 2;
    }
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
