#inputContainer {
    /* background-color: #242424; */
    position: sticky;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 10ch;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

#inputContainer hr {
    display: none;
    position: absolute;
}

#ProgramInput {
    position: relative;
    /* Whole column 1*/
    width: 99%;
    /* margin: 5px auto; */
    overflow-x: auto;
    height: calc(100vh - 50px);
}

/* dark mode rules */
#inputContainer button, select#program_dropdown, div#prelude_dropdown button {
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: inherit;
    height: 100%;
}

/* light mode updates */
.light #inputContainer button, .light select#program_dropdown, .light div#prelude_dropdown button {
    border: 1px solid rgba(0, 0, 0, 0.349);
    background-color: #e7e7e7;
}

div#Buttons {
    display: grid;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin: 0;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 5px;
}

/* CodeMirror styling: https://codemirror.net/examples/styling/ */
.code-mirror-wrapper {
    border: 2px solid rgba(255, 255, 255, 0.349);
    background-color: #272822;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 49px);
    transition: height 0.1s;
}

.prelude-code-mirror-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    height: 100%;
}

.light .code-mirror-wrapper, .light .prelude-code-mirror-wrapper {
    background-color: white;
}

.code-mirror-wrapper .CodeMirror {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    height: 100% !important;
    width: calc(100% - 4px);
}

.prelude-code-mirror-wrapper .CodeMirror {
    height: 100% !important;
    width: 100%;
}

div#prelude_dropdown {
    padding: 0;
    display: block;
    overflow-y: auto;
    background-color: #1a1a1a;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.349);
}

div#prelude_dropdown #prelude {
    transition: height 0.1s;
    padding: 0;
    width: 100%;
    height: 0;
}

.light div#prelude_dropdown {
    background-color: white;
}

div#prelude_dropdown button {
    width: 100%;
    padding: 0;
    height: 30px;
    border: none;
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 1000px) {
    #inputContainer {
        display: block;
        width: calc(100% - 20px);
    }
}